#home{
    
    background-color: darkred;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    align-content: center;
  
}

.glyphicon {
    font-size: 30px;
    
}

#aboutme{
    
    background-color: white;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    
}

#portfolio{
    
    background-color: floralwhite;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    
}



#contact{
    
    background-color: oldlace;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    
}

body {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: px;
    background-attachment: fixed;
}
.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}


h1 { font-family: 'Raleway', serif; font-weight: 600; }
h2 { font-family: 'Raleway', serif; font-weight: 400; }
p { font-family: 'Roboto', serif; font-weight: 300; }

